@import "style.less";

@font-face {
    font-family: 'Kanit';
    src: url('./../fonts/kanit/kanit-regular.eot');
    src: url('./../fonts/kanit/kanit-regular.eot?#iefix') format('embedded-opentype'),
         url('./../fonts/kanit/kanit-regular.woff2') format('woff2'),
         url('./../fonts/kanit/kanit-regular.woff') format('woff'),
         url('./../fonts/kanit/kanit-regular.svg#kanitregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kanit';
    src: url('./../fonts/kanit/kanit-medium.eot');
    src: url('./../fonts/kanit/kanit-medium.eot?#iefix') format('embedded-opentype'),
         url('./../fonts/kanit/kanit-medium.woff2') format('woff2'),
         url('./../fonts/kanit/kanit-medium.woff') format('woff'),
         url('./../fonts/kanit/kanit-medium.svg#kanitmedium') format('svg');
    font-weight: bold;
    font-style: normal;
}

section{
	.section-title{
		font-family: "Kanit";
	}

	.section-subtitle{
		font-family: "Kanit";
		margin-top: 5px;
	}
}