.clearfix() {
	&:before,
	&:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}
}

.text-overflow(){
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;
@screen-xlg-min: 1400px;

@purple-color-1: #25245B;
@purple-color-2: #7676B2;

@green-color-1: #529353;

@red-color-1: #C66363;

@grey-color-1: #0F1E2C;

@primary-color: @purple-color-1;
@text-color: @grey-color-1;

@font-face {
    font-family: 'Roboto';
    src: url('./../fonts/roboto/roboto-regular.ttf');
    src: url('./../fonts/roboto/roboto-regular.eot?#iefix') format('embedded-opentype'),
         url('./../fonts/roboto/roboto-regular.woff2') format('woff2'),
         url('./../fonts/roboto/roboto-regular.woff') format('woff'),
         url('./../fonts/roboto/roboto-regular.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Medium';
    src: url('./../fonts/roboto/roboto-medium.ttf');
    src: url('./../fonts/roboto/roboto-medium.eot?#iefix') format('embedded-opentype'),
         url('./../fonts/roboto/roboto-medium.woff2') format('woff2'),
         url('./../fonts/roboto/roboto-medium.woff') format('woff'),
         url('./../fonts/roboto/roboto-medium.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('./../fonts/roboto/roboto-bold.ttf');
    src: url('./../fonts/roboto/roboto-bold.eot?#iefix') format('embedded-opentype'),
         url('./../fonts/roboto/roboto-bold.woff2') format('woff2'),
         url('./../fonts/roboto/roboto-bold.woff') format('woff'),
         url('./../fonts/roboto/roboto-bold.svg#robotoblack') format('svg');
    font-weight: bold;
    font-style: normal;
}

img{
	max-width: 100%;
	max-height: 100%;
}

body{
	-webkit-font-smoothing: antialiased;
	font-family: "Roboto";
	font-size: 14px;
	padding-top: 80px;
	background-color: rgba(37, 36, 91, 0.05);
}

.bg-white{
	background-color: #fff;
}

.bg-grey{
	background-color: rgba(37, 36, 91, 0.05);
}

.container{
	max-width: 100%;
	width: 100%;
}

.text-small{
	font-size: 10px;
}

.row{
    &.no-gap{
        margin-left: 0;
        margin-right: 0;

        > [class*="col-"]{
            padding-left: 0;
            padding-right: 0;
        }
    }

    &.narrow{
        margin-left: -7px;
        margin-right: -7px;

        > [class*="col-"]{
            padding-left: 7px;
            padding-right: 7px;
        }
    }
}

.btn{
    box-shadow: none;
    outline: none;
    padding: 8px 12px;
    border-radius: 2px;
    font-weight: bold;

    &.skelleton{
        background: none;
        border: 2px solid;
    }

    &.rounded{
        border-radius: 50px;
        padding: 8px 20px;
    }

    &.btn-primary{
        background: @primary-color;
        border-color: @primary-color;
        color: #fff;

        &:active,
        &:focus{
            background: @primary-color;
            border-color: @primary-color;
            color: #fff;
        }

        &.skelleton{
            background: none;
            border: 2px solid @primary-color;
            color: @primary-color;
        }
    }

    &.btn-white{
    	background: #fff;
        border-color: #fff;
        color: @primary-color;

        &.skelleton{
            background: none;
            border: 2px solid #fff;
            color: #fff;
        }
    }

    &.btn-purple-1{
		background-color: @purple-color-2;
		color: #fff;
		border-color: @purple-color-2;

		&:active,
        &:focus{
            background: @purple-color-2;
            border-color: @purple-color-2;
            color: #fff;
        }
    }

	&.btn-green-1,
    &.approve-btn{
		background-color: #529353;
		color: #fff;
		border-color: #529353;

		&:active,
        &:focus{
            background: #529353;
            border-color: #529353;
            color: #fff;
        }
    }

	&.btn-red-1,
    &.reject-btn{
		background-color: #C66363;
		color: #fff;
		border-color: #C66363;

		&:active,
        &:focus{
            background: #C66363;
            border-color: #C66363;
            color: #fff;
        }
    }

    &.small{
    	padding: 3px 10px;
    	font-size: 12px;
    }

    &.size-1{
    	min-width: 200px;
    }

    &.size-2{
    	min-width: 100px;
    }

    &.size-3{
    	min-width: 70px;
    }

    &.link-btn{
    	font-family: "Roboto Medium";
    	font-weight: normal;
    	padding: 0;

    	&:hover{
    		color: @primary-color;
    	}
    }
}

.block{
	display: block;
}

.text-primary{
	color: @primary-color;
}

.uppercase{
	text-transform: uppercase;
}

#header-panel{
	> .navbar{
		background: @primary-color;
		color: #fff;
		height: 80px;
		padding: 5px 0;

		.navbar-brand{
			height: auto;

			> img{
				max-height: 45px;
			}
		}

		.navbar-toggle{
			margin-top: 18px;
			border: none;

			&:focus,
			&:hover{
				background-color: transparent;
			}
		}

		.navbar-collapse{
			background-color: @primary-color;
			border: none;
			padding-bottom: 20px;
		}

		.navbar-nav{
			margin-bottom: 0;

			> li{
				&.active{
					> a{
						background-color: transparent;
						border-bottom: 1px solid #fff;
						display: inline-block ;
						padding: 2px;
						margin: 13px;
					}
				}

				> a{
					color: #fff;
				}
			}
		}

		#right-menus-container{
			margin-top: 30px;
			text-align: left;
		}

		#language-menus{
			margin-right: 0;
			padding: 0 15px;

			> li{
				white-space: nowrap;
				display: inline-block;

				&.active{
					> a{
						text-decoration: none;
						border-bottom: none;
						font-weight: bold;
					}
				}

				+ li{
					margin-left: 5px;

					&:before{
						content: "/";
						color: #fff;
						// display: block;
						// float: left;
						padding-top: 0px;
						margin-right: 5px;
					}

					> a{
						margin-left: 3px;
					}
				}

				a{
					color: #fff;
				}
			}
		}

		#login-signup-menus{
			display: block;
			padding: 0 15px;

			> li{
				white-space: nowrap;
				display: inline-block;

				+ li{
					margin-left: 5px;

					// &:before{
					// 	content: "/";
					// 	color: #fff;
					// 	display: inline-block;
					// 	margin-right: 5px;
					// }

					> a{
						display: inline-block;
					}
				}

				> a{
					padding: 5px 15px;
				}
			}
		}
	}

	#desktop-logo-wrapper{
		text-align: center;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		width: 100px;
		margin: auto;

		#desktop-logo{
			margin: 20px auto 0;
			display: inline-block;
			height: 80px;
		}
	}
}

#footer-panel{
	background: @primary-color;
	color: #fff;
	min-height: 65px;
	padding: 10px 0;
	font-size: 10px;

	#footer-logo{
		max-height: 36px;
		display: inline-block;
		vertical-align: middle;
		margin-right: 5px;
	}

	#footer-contact{
		display: inline-block;
		vertical-align: middle;
		border-left: 1px solid #fff;
		padding: 5px 10px;

		#email-text{
			margin-top: 3px;
		}

		#footer-socials{
			margin-top: 3px;

			.footer-social-list{
				list-style: none;
				margin-top: 4px;
				margin-bottom: 0;

				> li{
					> a{
						display: block;
						color: #fff;
						font-size: 12px;
					}
				}
			}
		}
	}

	#footer-links{
		font-size: 10px;
		text-align: left;
		margin-top: 10px;

		a{
			color: #fff;
		}

		.footer-text-box{
			text-align: center;
			display: block;
			position: relative;
			padding: 15px 0;
		}
	}
}

section{
	padding: 25px 0;

	&.page-content{
		padding: 0;

		.container{
			background-color: #fff;
			margin: 0 auto;
			padding: 25px 25px;
		}
	}

	&.no-top-space{
		padding-top: 0 !important;
	}

	&.no-bottom-space{
		padding-bottom: 0 !important;
	}

	&.no-space{
		padding: 0 !important;
	}

	.image-col{
		.image-container{
			background-repeat: no-repeat;
			background-size: contain;
			background-position: top center;
			padding-bottom: 80%;
			width: 100%;
		}
	}

	.sub-section{
		padding: 15px 0;

		.section-header{
			.section-title{
				font-size: 20px;
			}

			.section-subtitle{
				font-family: "Roboto Regular";
				font-weight: normal;
				margin-top: 8px;
				font-size: 14px;
			}
		}
	}

	.section-header{
		margin-bottom: 30px;

		&.line-decor{
			&:after{
				content: '';
				width: 20px;
				height: 3px;
				background: @primary-color;
				display: block;
				margin-top: 15px;
			}
		}

		&.small{
			.section-title{
				font-size: 28px;
			}

			.section-subtitle{
				font-family: "Roboto Medium";
				font-weight: normal;
				margin-top: 8px;
				font-size: 14px;
			}
		}
	}

	.section-title{
		text-transform: uppercase;
		font-weight: bold;
		font-size: 36px;
		color: @primary-color;
		line-height: 1.2;
	}

	.section-subtitle{
		font-weight: normal;
		font-size: 20px;
		color: @primary-color;
		line-height: 1.2;
	}

	.section-body{
		min-height: 100px;

		ul{
			margin-left: 20px;

			> li{
				text-indent: 0;

				+ li{
					margin-top: 5px;
				}
			}
		}

		&.indent{
			text-indent: 30px;
		}
	}
}

.content-box{
	background-color: #fff;
	padding: 30px 0;
	border-bottom: 3px solid @primary-color;
}

iframe{
	max-width: 100% !important;
}

#learn-and-practice{
	.image-col{
		// background-image: url('../images/mac.png');
		background-repeat: no-repeat;
		background-size: 100% auto;
		background-position: top center;
		// height: 0;
	    // padding-bottom: 75%;
	}

	#learn-slide{
	    // max-width: 55%;
	    margin: 0 auto;
	    display: block;
	    overflow: hidden;
	    // position: absolute;
	    left: 0;
	    right: 0;

	    .item{
	    	img{
	    		// max-width: 80%;
    			// margin: auto;
	    	}
	    }

	    .owl-dots{
	   		margin-top: 25%;

	   		.owl-dot{
	   			+ .owl-dot{
	   				margin-left: 20px;
	   			}

	   			&.active{
	   				> span{
						background-color: @primary-color;
						border: 1px solid @primary-color;
	   				}
	   			}

	   			> span{
	   				background: #fff;
	   				border: 1px solid #aaa;
	   			}
	   		}
	    }
	}

	.learn-image{
		max-height: 315px;
	}
}

#learn-risk{
	background-image: url('../images/risk-image.png');
	background-size: cover;
	background-position: center center;
	padding: 40px 0;

	.content-col{
		.content-box{
			padding: 20px 30px;
			border-bottom: 0 solid @primary-color;
			margin-bottom: 20px;
		}
	}
}

#community-world{
	.content-col{
		.content-box{
			border-bottom: 7px solid @primary-color;
		}
	}

	.image-col{
		.image-container{
			padding-bottom: 0;
		}
	}
}

#opportunity{
	.content-col{
		.content-box{
			border-bottom: 15px solid @primary-color;
		}
	}

	.image-col{
		.image-container{
			padding-bottom: 0;
		}
	}
}

#ranking,
#ranking-table{
	max-width: 900px;
	margin: auto;
}

.ranking-box{
	background: #fff;
	padding: 15px;
	text-align: center;
	border-bottom: 3px solid @primary-color;
	width: 250px;
	max-width: 100%;
	margin: 0 auto 20px;

	&.left{

	}

	&.center{
		margin: auto;
	}

	&.right{
		// float: right;
	}

	.ranking-icon{
		height: 50px;
		display: block;
		margin-bottom: 15px;
	}

	.ranking-content{
		background-color: rgba(37, 36, 91, 0.05);
		padding: 10px;
	}

	.user-thumbnail{
		background-size: cover;
		background-position: center center;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		display: block;
		margin: 0 auto 20px;
	}

	.user-detail{
		text-align: left;
		color: @primary-color;

		.label-text{
			font-size: 10px;
		}

		.value-text{
			font-weight: bold;
		}
	}
}

.table{
	&.chart-table{
		thead{
			tr{
				th{
					text-align: left;
					background-color: #fff;
					color: @primary-color;
					font-weight: normal;
					font-size: 10px;
					padding: 3px 10px;

					&.text-center{
						text-align: center;
					}
				}
			}
		}

		tbody{
			tr{
				&:nth-child(even){
					td{
						background-color: #fff;
					}
				}

				td{
					text-align: left;
					background-color: #fff;
					border-bottom: 1px solid #ddd;

					&.text-center{
						text-align: center;
					}

					.btn{
						margin-top: -4px;
					}

					.price-text{
						background-color: rgba(37, 36, 91, 0.05);
						padding: 2px 5px;
						color: @primary-color;
					}
				}
			}
		}
	}

	thead{
		tr{
			th{
				text-align: center;
				background-color: #8C8CA9;
				color: #fff;
				font-weight: bold;
			}
		}
	}

	tbody{
		tr{
			&:nth-child(even){
				td{
					background-color: rgba(37, 36, 91, 0.02);
				}
			}

			td{
				text-align: center;
				background-color: #fff;
				border: none;
			}
		}
	}
}

.pagination{
	> li{
		&.active{
			> a{
				color: #fff;
				background-color: @primary-color;
				border-color: @primary-color;
			}
		}

		&:hover{
			> a{
				background-color: rgba(37, 36, 91, 0.20);
				color: @primary-color;
			}
		}

		> a{
			border-radius: 0 !important;
			border-color: rgba(37, 36, 91, 0.20);
			padding: 5px 10px;
			color: @primary-color;
			background-color: transparent;
		}
	}
}

#member-table{
	.reject-btn,
	.approve-btn{
		margin-top: -4px;
	}
}

.tab-pane,
#forgot-password,
#sign-up,
#login{
	min-height: 500px;

	form{
		width: 400px;
		max-width: 100%;
		margin: auto;

		.form-group{
			margin-bottom: 5px;
		}

		#signup-btn,
		#login-btn{
			margin-bottom: 15px;
		}

		.link-btn{
			font-size: 12px;

			+ .link-btn{
				margin-top: 10px;
			}
		}

		input{
			text-align: center;
		}
	}
}

button,
a{
	cursor: pointer;

	&:focus{
		outline: none;
	}

	&:active{
		box-shadow: none !important;
	}

	&:focus,
	&:hover{
		text-decoration: none !important;
	}
}

input[type="email"],
input[type="number"],
input[type="password"],
input[type="text"]{
	border-radius: 0;
	border: none;
	outline: none !important;
    box-shadow: none !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#chart{
	height: 500px;
	width: 100%;
	background: #ddd;
	margin-bottom: 30px;
	border: 1px solid #ddd;
	border-bottom: 4px solid @primary-color;
}

.side-menus{
	list-style: none;
	margin-bottom: 0;

	&#chart-tools{
		> .menu-item{
			&.active{
				> a{
					opacity: 1;
				}
			}

			> div,
			> a{
				opacity: .5;
			}
		}
	}

	> .menu-item{
		&.active{
			> a{
				background-color: rgba(37, 36, 91, 0.10);
				border-color: @primary-color;
				opacity: 1;
			}
		}

		&:hover{
			> a{
				background-color: rgba(37, 36, 91, 0.10);
				opacity: 1;
			}
		}

		> div,
		> a{
			display: block;
			padding: 8px 10px;
			font-size: 14px;
			border-left: 4px solid transparent;
			color: @primary-color;
		}

		.menu-icon{
			width: 30px;
			display: block;
			float: left;
			text-align: center;

			> img{
				max-height: 16px;
			}
		}

		.menu-text{
			margin-left: 40px;
			display: block;
		}
	}
}

#chart-tools{
	margin-bottom: 15px;
}

.credit-panel{
	padding: 5px 0;
	background-color: rgba(37, 36, 91, 0.10);
}

#credit-panel{
	margin: 20px 0 0;
}

#mobile-credit-panel{
	margin: 0 0 20px;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
	width: 100%;

	&.open{
		.dropdown-toggle{
			box-shadow: none;
		}
	}

	&.text-center{
		.dropdown-toggle{
			padding-right: 12px;

			.filter-option{
				text-align: center;
			}
		}
	}

	&.chart-select{
		.dropdown-toggle{
			background-color: rgba(209, 211, 212, 0.5);

			&:hover{
				background-color: rgba(209, 211, 212, 0.5);
			}
		}
	}

	.dropdown-toggle{
		border: none;

		&:hover,
		&:active,
		&:focus{
			outline: none !important;
			box-shadow: none !important;
			background: #fff;
		}

		.filter-option{
			font-weight: normal;
		}

		.bs-caret{
			color: @primary-color;
		}
	}

	.dropdown-menu{
		> ul{
			> li{
				&.selected{
					> a{
						background-color: @primary-color;
						color: #fff;
					}
				}
			}
		}
	}
}

#chart-menu-select-wrapper{
	[data-id="chart-menu-select"]{
		padding-left: 0;
		background-color: transparent !important;

		.filter-option{
			> div,
			> a{
				display: block;
				padding: 8px 10px;
				font-size: 14px;
				border-left: 4px solid transparent;
				color: @primary-color;
			}

			.menu-icon{
				width: 30px;
				height: 30px;
				padding: 0;
				line-height: 30px;
				display: block;
				float: left;
				text-align: left;
				margin-right: 0;

				> img{
					max-height: 16px;
				}
			}

			.menu-text{
				margin-left: 30px;
				padding-left: 0;
				display: block;
			}
		}
	}

	.dropdown-menu{
		li{
			&.selected{
				.menu-item{
					background-color: rgba(37, 36, 91, 0.05);
				}
			}

			.menu-item{
				padding: 3px 10px;

				> div,
				> a{
					display: block;
					padding: 8px 10px;
					font-size: 14px;
					border-left: 4px solid transparent;
					color: @primary-color;
				}

				.menu-icon{
					width: 30px;
					height: 30px;
					padding: 0;
					line-height: 30px;
					display: block;
					float: left;
					text-align: center;
					margin-right: 10px;

					> img{
						max-height: 16px;
					}
				}

				.menu-text{
					margin-left: 30px;
					padding-left: 0;
					display: block;
				}
			}
		}
	}
}

#profile-menu-boxes{
	position: relative;
	list-style: none;
	margin-bottom: 0 !important;
	border: none !important;

	> li{
		margin-bottom: 0 !important;
		// float: none;

		&.active{
			.profile-menu-box{
				// border: none !important;
				border-bottom-color: @primary-color !important;
			}
		}
	}

	.profile-menu-box{
		background: #fff;
		display: block;
		text-align: center;
		color: @primary-color;
		font-size: 12px;
		position: relative;
		padding-bottom: 100%;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: auto 30%;
		border: 0 !important;
		margin-bottom: 15px;
		border-bottom: 5px solid transparent !important;

		.menu-text{
			position: absolute;
			bottom: 20px;
			left: 0;
			right: 0;
		}
	}
}

#profile-contents{
	.tab-pane{
		min-height: auto;
		position: relative;

		> form{
			width: 100%;
			margin: 50px auto;
		}
	}
}

.form-title{
	color: @primary-color;
	margin: 20px 0;
}

@media(min-width: @screen-sm-min){
	body{
		padding-top: 120px;
	}

	.container{
		width: 95%;
	}

	#profile-menu-boxes{
		> li{
			float: left;
		}
	}

	#profile-contents{
		.tab-pane{
			> form{
				max-width: 500px;
				margin: 100px auto 50px;
			}
		}
	}

	#header-panel{
		> .navbar{
			height: 120px;

			.navbar-collapse{
				padding-bottom: 0;
			}

			.navbar-nav{
				margin-top: 75px;

				> li{
					&.active{
						> a{
							background: none !important;
							border-bottom: 1px solid #fff;
							margin: 0;
						}
					}

					+ li{
						margin-left: 15px;
					}

					> a{
						padding: 2px 2px;
						color: #fff;
					}
				}
			}

			#right-menus-container{
				margin-top: 0;
				text-align: right;
			}

			#language-menus{
				margin-right: 0;
				margin-top: 35px;

				> li{
					white-space: nowrap;
					display: inline-block;

					+ li{
						margin-left: 5px;

						&:before{
							content: "/";
							color: #fff;
							display: inline-block;
							margin-right: 5px;
							padding-top: 0;
						}

						> a{
							display: inline-block;
						}
					}

					a{
						color: #fff;
					}
				}
			}

			#login-signup-menus{
				display: block;

				> li{
					white-space: nowrap;
					display: inline-block;

					+ li{
						margin-left: 5px;

						// &:before{
						// 	content: "/";
						// 	color: #fff;
						// 	display: inline-block;
						// 	margin-right: 5px;
						// }

						> a{
							display: inline-block;
						}
					}

					> a{
						padding: 5px 15px;
					}
				}
			}
		}
	}

	.ranking-box{
		&.left{
			margin-left: 0;
		}

		&.center{
			margin: auto;
		}

		&.right{
			float: right;
		}
	}

	section{
		padding: 50px 0;

		&.page-content{
			.container{
				background-color: #fff;
				margin: 0 auto;
				padding: 50px 25px;
			}
		}
	}

	.content-box{
		padding: 30px 20px;
	}

	#learn-and-practice{
		.image-col{
			background-size: 100% auto;
			background-position: top 100% right;
			// height: 0;
		    // padding-bottom: 40%;
		}

		.content-col{
			padding-top: 50px;
		}

		#learn-slide{
			margin-top: 60px;
		    // max-width: 65%;
	    	// margin: 13% auto 0;
		    position: relative;
		}
	}

	#footer-panel{
		#footer-links{
			margin-top: 0;
			text-align: center;

			.footer-text-box{
				min-height: 60px;
				display: block;
				position: relative;

				> .footer-text{
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
				}
			}
		}
	}
}

@media(min-width: @screen-md-min){
	#header-panel{
		> .navbar{
			.navbar-nav{
				> li{
					+ li{
						margin-left: 35px;
					}
				}
			}
		}
	}

	section{
		.section-title{
			font-size: 40px;
		}

		.section-subtitle{
			font-size: 28px;
		}

		.section-body{
			&.line-decor{
				&:after{
					content: '';
					width: 20px;
					height: 3px;
					background: @primary-color;
					display: block;
					margin: 40px auto 0;
				}
			}
		}
	}

	#learn-and-practice{
		.content-col{
			// padding-top: 50px;
		}
	}

	#learn-risk{
		padding: 40px 15px;

		.content-col{
			padding: 0 15px;

			.content-box{
				background-color: #fff;
				// padding: 60px 30px 30px 60px;
			}
		}
	}

	#community-world{
		.content-col{
			padding: 0 15px;

			.content-box{
				background-color: #fff;
				padding: 60px 30px 30px;
			}
		}
	}

	#opportunity{
		.content-col{
			padding: 0 15px;
			text-align: center;

			.content-box-wrapper{
				border: 15px solid rgba(37, 36, 91, 0.05);
				border-bottom: 0;
				max-width: 90%;
				margin: auto;
			}

			.content-box{
				background-color: #fff;
				padding: 60px 30px 30px;

				.section-header{
					&.line-decor{
						&.top{
							&:before{
								content: '';
								width: 20px;
								height: 3px;
								background: @primary-color;
								display: block;
								margin: 0 auto 40px;
							}

							&:after{
								display: none;
							}
						}
					}
				}

				.section-body{
					text-indent: 0;
				}
			}
		}
	}

	#footer-panel{
		#footer-logo{
			margin-right: 15px;
		}

		#footer-contact{
			padding: 5px 15px;
		}
	}
}

@media(min-width: @screen-lg-min){
	#learn-and-practice{
		.content-col{
			// padding-top: 50px;
		}

		.image-col{
			background-size: 100% auto;
			background-position: top 100% right;
			// height: 0;
		    // padding-bottom: 40%;
		}

		#learn-slide{
		    // max-width: 65%;
	    	// margin: 13% auto 0;
		    position: relative;
		}
	}

	#opportunity{
		.content-col{
			.content-box-wrapper{
				max-width: 80%;
			}
		}
	}
}

@media(min-width: @screen-xlg-min){
	.container{
		width: 1200px;
	}
}